{% extends 'base.html' %}
{% block head%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#enviar').click(function(e){
            e.preventDefault();
                var dataString = $('#form-control').serialize();

            $.ajax({
                type: "POST",
                url: '',
                data: dataString,
                success: function(data) {
                window.location.replace("/gestionarOrden/{{ordenId}}/{{periodoId}}");
                }
            });
        });
    });
</script>
{% endblock head%}

{% block typeofbody %}
<body>
{% endblock %}
{% block typeofheader %}
  <header id="header">
{% endblock %}
{% block navbar %}
<ul>
  <li><a href="/">Inicio</a></li>
  <li><a href="/catalogo">Catalogo Cuentas</a></li>
  <li><a href="/periodoConta">Periodos</a></li>
  <li>
    <a href="/settings" class="icon fa-angle-down">Configuracion</a>
    <ul>
      <li><a href="/settings/password">Contrasenia</a></li>
    </ul>
  </li>
<li><a href="/logout" class="button">Cerrar Sesion</a></li>
</ul>
{% endblock %}
{% block content %}

<section id="main" class="container">
  <header>
    <h2>Asignar Materia Prima</h2>
    <p>Llene los datos correctamente</p>
  </header>
  <section class="box">
		<div class="table-wrapper">
      <form id="form-control" method="POST">
      {% csrf_token %}
      <table>
      	<tc>
      		<tr>
      			<td>Orden:</td>
      			<td>
      			<input type="number" name="idOrden" readonly="readonly" value="{{ordenId}}">
      			</td>
      		</tr>
      	</tc>
      	<tc>
      		 <tr>
      		 	<td>Materia Prima: </td>
                  <td>
                  	<select style="width:100%" name="productoId">
                  		{% for producto1 in product %}
                          <option value="{{producto1.id}}">{{producto1.nombreMateriaPrima}}</option>
                          {% endfor %}
                      </select>
                  </td>
               </tr>
          </tc>
          <tc>
      		<tr>
      			<td>Cantidad:</td>
      			<td>
      			<input type="number" name="cantidadMP">
      			</td>
      		</tr>
      	</tc>
      	<tc>
          	<tr>
      			<td>Fecha de Salida: </td>
      			<td><input type="date" name="fechaSalida"></td>
      		</tr>
      	</tc>
      </table>
      <input type="submit" name="enviar" id="enviar" value="Guardar" class="btn btn-primary" style="margin-left: 41%">
      <a class="button special" href="/gestionarOrden/{{ordenId}}/{{periodoId}}">Regresar</a>
      </form>
	</div>
  </section>
</section>
{% endblock content %}
