{% extends 'base.html' %}

{% block title %}
	<title>Consultar transacciones</title>
{% endblock title %}

{% block typeofbody %}
<body>
{% endblock %}
{% block typeofheader %}
  <header id="header">
{% endblock %}
{% block navbar %}
<ul>
  <li><a href="/">Inicio</a></li>
  <li><a href="/catalogo">Catalogo Cuentas</a></li>
  <li><a href="/periodoConta">Periodos</a></li>
  <li>
    <a href="/settings" class="icon fa-angle-down">Configuracion</a>
    <ul>
      <li><a href="/settings/password">Contrasenia</a></li>
    </ul>
  </li>
<li><a href="/logout" class="button">Cerrar Sesion</a></li>
</ul>
{% endblock %}



{% block content %}
<section id="main" class="container">
  <div class="row">
    <div class="12u">
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <p style="color: green"> <u>{{ message }}</u></p>
          {% else %}
      <p style="color: red"><u>{{ message }}</u> </p>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger" >
        <strong style="color: red">{{ error|escape }}</strong>
      </div>
      {% endfor %}
      <!-- Table -->
        <section class="box">
          <div class="card-header">
              <i class="fa fa-search"></i> <h3>Consultar transacciones</h3>
          </div>

          <div class="table-wrapper">
						<table class="table" id="dataTable" width="100%" cellspacing="0">
	            <thead>
	              <tr>
	                <th>Transaccion</th>
	                <th>Fecha</th>
	                <th>Ver</th>
	              </tr>
	            </thead>
	            <tbody>
	            	{% for trans in transacciones%}
	  						{% if trans.is_inicial == False %}
	  						<tr>
							    <td>{{trans.descripcion}}</td>
							    <td>{{trans.fecha}}</td>
							    <td><a class="button small" href="/detalleAfectado/{{periodoId}}/{{trans.id_Transaccion}}">Ver Detalles</a></td>
							  </tr>
							{% endif %}
							  {% endfor %}

	            </tbody>
	          </table>
          </div>
        </section>

    </div>
  </div>
</section>
{% endblock content %}
