{% extends 'base.html' %}

{% block title %}
<title>
  Editar Contraseña
</title>
{% endblock title %}

{% block typeofbody %}
<body>
{% endblock %}
{% block typeofheader %}
<header id="header">
{% endblock %}
{% block navbar %}
<ul>
<li><a href="/">Inicio</a></li>
<li><a href="/catalogo">Catalogo Cuentas</a></li>
<li><a href="/catalogo">Periodos</a></li>
<li>
  <a href="/settings" class="icon fa-angle-down">Configuracion</a>
  <ul>
    <li><a href="/settings/password">Contrasenia</a></li>
  </ul>
</li>
<li><a href="/logout" class="button">Cerrar Sesion</a></li>
</ul>
{% endblock %}

{% block content %}
<!-- Main -->
  <section id="main" class="container">

    <section class="box special features">
    <h2></i> Edita tu contraseña {{ request.user.get_full_name}}</h2>
    <form method="POST">
      {% csrf_token %}
       {% for field in form %}
        <div class="row">
          <div class="col-5">
            {{ field.label_tag }}
          </div>
          <div class="col-4">
            {{ field }}
          </div>
        </div>
          {% for error in field.errors %}
            <div class="alert alert-danger row">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
      {% if not user.has_usable_password %}
        <button class="button special" type="submit">Guardar contraseña</button>
      {% else %}
        <button class="button special" type="submit">Actualizar contraseña</button>
      {% endif %}
      <a href="/settings/" role="button small" class="button">Modificar Perfil</a>
      <a href="/" role="button small" class="button">Inicio</a>
    </form>
    </section>

  </section>


{% endblock content %}
